<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INTC-3283 - Welcome</title>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.css}">
    <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.bundle.js}"></script>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <h1>Top Donors Report</h1>

            <table class="table table-striped">
                <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address 1</th>
                    <th>Address 2</th>
                    <th>City</th>
                    <th>State</th>
                    <th>Zip</th>
                    <th>Phone</th>
                    <th>Total donated</th>
                    <th>Last donated on </th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="row : ${larry}">
                    <td th:text="${row.first_name}"></td>
                    <td th:text="${row.last_name}"></td>
                    <td th:text="${row.address1}"></td>
                    <td th:text="${row.address2}"></td>
                    <td th:text="${row.city}"></td>
                    <td th:text="${row.state}"></td>
                    <td th:text="${row.zip_code}"></td>
                    <td th:text="${row.phone}"></td>
                    <td th:text="${row.total_donated}"></td>
                    <td th:text="${row.last_donated_on}"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>


</body>
</html>